{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Feedback System</title>        
        <link rel="stylesheet" href="{%static 'feedbacktypes/style.css' %}" type="text/css">
    </head>
    <body>
        <header class = "wrapper">
            <h1><a href="{% url 'feedbacktypes:list' %}"><img src="{% static 'feedback/feed.png' %}" width = "200"></a></h1>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                    <li>
                        <form class="logout-link" action="{% url 'feedback:logout' %}" method = "post">
                            {% csrf_token %}
                            <button type="submit">Logout</button>
                        </form>
                    </li>
                    {% else %}
                        <li><a href="{% url 'feedback:login' %}">Login</a></li>
                        <li><a href="{% url 'feedback:signup' %}">Sign Up</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
            <div class="wrapper">
            {% block content %}
            {% endblock %}
        </div>
        

    </body>
</html>